@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AllezLeFoot</h1>
    <p>Résultats et statistiques sur les matchs universitaires des <a href="http://sportco.abyss-clients.com/rencontres">écoles de bordeaux</a>.</p>
     <a href="https://ensc.bordeaux-inp.fr"><img src="~/image/logoENFC.png"></a>
</div>
